* {
    box-sizing: border-box;
    color: beige;
    font-family: sans-serif;
}

body {
    background-color: #2e2d30;
}

h1 {
    font-weight: bold;
    font-size: 22px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

.header {
    position: sticky;
    top:0;
    z-index: 1;
    display: flex;
    background-color: rgb(20, 103, 154);
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.half {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.view {
    display: flex;
    gap: 20px;
}

.actions {
    justify-content: flex-end;
    padding-right: 60px;
    gap: 30px;
}

.buttonView {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
    background-color: rgb(40, 47, 137);
}

.buttonAction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    gap: 20px;
    border-radius: 8px;
    font-weight: bold;
    background-color: rgb(56, 62, 141);
}

.buttonActionClicked {
    width: 220px;
    height: 50px;
    gap: 20px;
}

.selectUser {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 14px;
    border-left: 3px solid beige;
    padding-left: 10px;
    gap: 10px;
}

.boxForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

input, textarea {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #2e2d30;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding-left: 5px;
}

.largerBox {
    height: 70px;
    padding-top: 5px;
    justify-content:flex-start;
}

button {
    font-weight: bold;
    color: beige;
    background-color:  rgb(56, 62, 141);
    outline: none;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 45px;   
    margin-bottom: 10px; 
}

.cancelButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: beige;
    background-color:  rgb(209, 25, 15);
    border-radius: 5px;
    width: 300px;
    height: 35px;     
}

.options:hover {
    color: rgb(30, 96, 177);
}


.showToCandidate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin-top: 55px;
    padding-left: 10px;
}

.boxCompanie {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight:300;
    background-color: rgb(25, 25, 116);
    border-radius: 6px;
    padding: 10px;
    width: 800px;
}

.titleView {
    position: fixed;
    top: 70px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2d30;
    width: 100%;
    height: 50px;
}

.buttonShowJobs{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: rgb(18, 93, 190);
    width: 100px;
    height: 25px;
    margin-top: 3px;
}

.hide {
    display: none;
}
